@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
/* Genérico
================================  */
body {
  -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Lato', Helvetica, sans-serif;
}

a { text-decoration: none;}

button, a.button {
  font-size: 13px;
  padding: 5px 8px;
  border: 2px solid #222;
  background-color: #fff;
  color: #222;
  transition: background 200mx ease-out;
}

button:hover, a.button:hover {
  background-color: #222;
  color: #fff;
}

input, textarea {
  background: : white;
  font-family: inherit;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  display: block;
  font-size: 18px;
  margin: 0 0 16px 0;
  padding: 8px;
}

#content {
  padding-left: 25px;
  padding-right: 25px;
}

.hide {
  display: none;
}

.error {
  color: #cd0000;
  margin: 8px 0;
  display: block;
}

/* Cabeçalho
==================== */

header {
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #ccc;
}

header .title {
  font-weight: 900;
  padding-left: 25px;
}

header nav {
  display: inline-block;
  float: right;
  padding-right: 25px;
}

header nav a {
  margin-left: 8px;
}

header nav a:hover {
  background: #222;
  color: #fff;
}

/* Login
=============== */
#login {
  width: 100%;
}

#login form {
  width: 300px;
  margin: 0 auto;
  padding: 25px;
}

#login form input {
  margin-bottom: 15px;
}

#login form label, #login form input {
  display: block;
}
/* Lista de Sprints
=================== */

.sprints{
  margin-top: 25px;
}

.sprints a.sprint{
  padding: 25px;
  float: left;
  text-align: center;
  background: #000;
  margin: 8px 8px 0 0;
  color: #fff;
}

.sprints a.sprint span{
  font-size: 10px;
}

.new-sprint{
  border: : 1px solid #ccc;
  padding: 20px;
}
/* Tarefas
=================== */
.tasks{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;

  align-items: stretch;
  overflow: scroll;
}

.tasks .status{
  background: #eee;
  border: 1px solid #ccc;
  padding: 0 10px 15px 10px;
  margin-right: 8px;
  width: 17%;
}

.tasks .status .list {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
}

.task-detail input, .task-detail textarea{
  width: 90%;
}

.task .task-item{
  width: 100%;
  margin: 5px 0;
  padding: 3px;
}

/* Detalhe das tarefas
================================  */
.task-detail {
  width: 100%;
  margin: 5px 0;
  background-color: #fff;
  padding: 8px;
}

.task-detail div{
  margin-bottom: 10px;
}

.task-detail .name, .task-detail .description{
  border-bottom: 1px dotted #333;
}

.task-detail .with-label{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

[contenteditable=true]:hover {
  background: #eee;
}

[contenteditable=true]:focus {
  background: #fff;
}

[draggable=true]{
  cursor: move;
}
.tasks .task-item.over, .tasks .task-item.locked{
  opacity: 0.5;
}
.tasks .task-item.over, .tasks .status.over{
  border: 1px black dotted;
}
