{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>Scrum Board Project</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'board/css/normalize.css' %}" />
        <link rel="stylesheet" href="{% static 'board/css/board.css' %}" />
        <script type="text/html" id="home-template">
            <h1>Bem-Vindo ao projeto Scrum Board</h1>
            <button class="addSprint" type="submit">Adicionar Sprint</button>
            <% if (sprints !== null) { %>
              <!--
              exemplo de debugger
              < % debugger; %>
              -->
              <div class="sprints">
                  <% _.each(sprints.models, function(sprint){ %>
                    <a href="#sprint/<%- sprint.get('id') %>" class="sprint">
                      <%- sprint.get('name') %> <br />
                      <span>finalizado em <%- sprint.get('end') %></span>
                    </a>
                  <% }); %>
              </div>
            <% } else { %>
              <h3 class="loading">Carregando...</h3>
            <% } %>
        </script>
        <script type="text/html" id="header-template">
            <span class="title">Projeto Scrum Board</span>
            <% if (authenticated) { %>
                <nav>
                    <a href="/" class="button">Seus Sprints</a>
                    <a href="#" class="logout button">Logout</a>
                </nav>
            <% } %>
        </script>
        <script type="text/html" id="login-template">
            <form action="" method="post">
                <label for="id_username">Username</label>
                <input type="text" id="id_username" name="username" maxlength="30" required />
                <label for="id_password">Password</label>
                <input type="password" id="id_password" name="password" maxlength="30" required />
                <button type="submit">Login</button>
            </form>
        </script>
        <script type="text/html" id="new-sprint-template">
            <form action="" method="post">
                <label for="id_name">Nome Sprint</label>
                <input type="text" id="id_name" name="name" maxlength="100" required />
                <label for="id_end">Data Final</label>
                <input type="date" id="id_end" name="end" />
                <label for="id_description">Descrição</label>
                <textarea id="id_description" name="description" cols="50" ></textarea>
                <button class="cancel">Cancelar</button>
                <button type="submit">Inserir</button>
            </form>
        </script>
        <script type="text/html" id="sprint-template">
            <% if (sprint !== null) { %>
              <% if (!sprint.invalid) { %>
                <h2><%- sprint.get('name') %></h2>
                <span class="due-date">Due <%- sprint.get('end') %></span>
                <p class="description"><%- sprint.get('description') %></p>
                <div class="tasks"></div>
              <% } else { %>
                <h1>Sprint <%- sprint.get('id') %> não encontrado</h1>
              <% } %>
            <% } else { %>
              <h3 class="loading">Carregando...</h3>
            <% } %>
        </script>
    </head>
    <body>
        <div id="content"></div>
        <script src="{% static 'board/vendor/jquery.js' %}"></script>
        <script src="{% static 'board/vendor/underscore.js' %}"></script>
        <script src="{% static 'board/vendor/backbone.js' %}"></script>
        <script id="config" type="text/json">
            {
                "models":{},
                "collections":{},
                "views":{},
                "router":null,
                "apiRoot": "{% url 'api-root' %}",
                "apiLogin": "{% url 'api-token' %}"
            }
        </script>
        <script src="{% static 'board/js/app.js' %}"></script>
        <script src="{% static 'board/js/models.js' %}"></script>
        <script src="{% static 'board/js/views.js' %}"></script>
        <script src="{% static 'board/js/router.js' %}"></script>
    </body>
</html>
